Repository nextcloud/calendar-js, pull requests merged in 2023-11, with the labels that each got.

#627 attendeeProperty: Add member function
  src/properties/attendeeProperty.js
  tests/unit/properties/attendeeProperty.test.js
Labels: enhancement, 4. to release

#610 chore: Update workflows from organization templates
  .github/workflows/lint-eslint.yml
  .github/workflows/lint.yml
  .github/workflows/node-test.yml
  .github/workflows/npm-test.yml
  .github/workflows/release.yml
  README.md
Labels: dependencies, 4. to release

#660 ci(release): fix action version
  .github/workflows/release.yml
Labels: 4. to release
